<%- include("templates/header") %> 
<div class="redirect">
    <h1>Link is <%= status %>!</h1>
    <h3>Redirecting in <%= timer %> seconds to </h3><h3 name="long_url"><%= longURL %></h3>
</div>
<%- include("templates/footer") %> 
