<tr>
    <td><%= number + 1 %></td>
    <td class="URL"><a href="<%= data.long_url %>"><%= data.long_url %></a></td>
    <td><a href="<%= data.short_url %>"><%= data.short_url %></a></td>
    <td><%= data.hits %></td>
    <td> <input type="checkbox"> </td>
    <td><%= data.createdDate %></td>
    <td><%= data.lastHitDate %></td>
</tr>